.support-dashboard {
  width: 100%;

  .mat-toolbar {
    color: #2c0e47;
    background-color: #00000029;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
  }

  .content {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 42px;

    div.chart-container {
      display: flex;
      flex-direction: column;
      gap: 24px;

      span {
        font-size: 18px;
        font-weight: 500;
      }

      .charts {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 24px;
      }
    }
  }
}
