<div class="support-dashboard">
  <mat-toolbar>
    <span>Support</span>
    <app-button [data]="createRequestButtonConfig" (event)="onCreateRequest($event)"></app-button>
  </mat-toolbar>
  <div class="content">
    <div class="chart-container">
      <span>Overall Summary - Support Request</span>
      <div class="charts">
        <!-- <app-pie-chart [chartConfig]=""></app-pie-chart> -->
        <!-- <app-pie-chart [chartConfig]=""></app-pie-chart> -->
        <!-- <app-pie-chart [chartConfig]=""></app-pie-chart> -->
        <!-- <app-pie-chart [chartConfig]=""></app-pie-chart> -->
      </div>
    </div>
    <div>
      <app-paginator
        [length]="totalTickets"
        [pageIndex]="pageIndex"
        [pageSizeOptions]="[5]"
        [hidePageSize]="true"
        (event)="onPaginatorEvent($event)">
      </app-paginator>
      <app-table
        [tableData]="tableData"
        [columnsDef]="columnsDef"
        (tableEvent)="onTableEvent($event)">
      </app-table>
    </div>
  </div>
</div>
