<mat-stepper #stepper>
  @for(stepper of data.stepper; let i = $index; track stepper) {
  <mat-step [stepControl]="formGroup" [label]="stepper.label">
    <div class="stepper-content">
      @for(controlConfig of stepper.formControls; track controlConfig) {
      <ng-container dynamicFormControl [data]="controlConfig" [formGroup]="formGroup"></ng-container>
      }
      <div class="button-container">
        @if(i) {
        <button mat-flat-button matStepperPrevious>Back</button>
        }
        <button mat-flat-button matStepperNext>Next</button>
      </div>
    </div>
  </mat-step>
  }
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div class="button-container">
      <button mat-flat-button matStepperPrevious>Back</button>
      <button mat-flat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>
