.navigation-main {
  width: 260px;
  height: 100%;
  background-color: #2C0E47;

  ul {
    padding: 20px 0px 0px;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;

    li {
      padding: 0px 15px;
    }
  }
}
