.support-ticket-view {
  width: 100%;

  .mat-toolbar {
    color: #2C0E47;
    background-color: #00000029;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 5px;

    app-icon {
      margin-top: 5px;
    }
  }

  .mat-mdc-card {
    // background-color: #00000029;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 24px;
    font-size: 18px;
    padding: 24px;
    letter-spacing: .7px;

    &-content {
      display: flex;
      flex-direction: column;
      gap: 32px;

      .content {
        display: flex;
        flex-direction: row;
        gap: 10px;
      }

      .title {
        color: #2C0E47;
        font-weight: 500;
      }
    }
  }
}
