.app-registration {
  width: 100%;
  height: 100%;
  // color: #2C0E47;
  background-color: #00000029;
  display: flex;
  justify-content: center;
  align-items: center;

  .mdc-card {
    width: 500px;
    height: 500px;
    border-radius: 16px;
  }

  .mat-mdc-card-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}
