@if (data) {
  <div class="form-container">
    @for (controlConfig of data.formGroup; track controlConfig) {
      <!-- Use DynamicFormControlDirective to generate form controls dynamically -->
      <ng-container dynamicFormControl [data]="controlConfig" [formGroup]="formGroup" [onEnter]="onInputKeyPress"></ng-container>
    }
    <div class="form-footer">
      @for (footerConfig of data.formFooter; track footerConfig) {
        <app-button [data]="footerConfig" (event)="onClick()"></app-button>
      }
    </div>
  </div>
}
